fastapi
uvicorn
asyncpg
sqlalchemy[asyncio]
alembic
pydantic
python-dotenv
httpx
websockets
geoalchemy2
python-jose
pytz
beautifulsoup4
pydantic-settings
pydantic[email]
pytest
pytest-mock
pytest-asyncio